:root {
  --c-gray-80: #474747;
  --c-gray-90: #2f2f2f;
  --c-blue-70: #4d8dff;
  --c-indigo-20: #e9edf3;
  --c-indigo-30: #dee3ea;
  --c-indigo-50: #b2becd;
  --c-indigo-60: #92a0b3;
  --c-indigo-80: #445b78;
  --c-carbon-90: #222d3a;
  --c-carbon-80: #35404e;
  --c-carbon-100: #03060b;
}
