@use "./components/colors";
@use "./components/admonition";
@use "./components/back-to-top-button";
@use "./components/code";
@use "./components/doc-item";
@use "./components/doc-page";
@use "./components/doc-sidebar";
@use "./components/edit-this-page";
@use "./components/markdown";
@use "./components/navbar";
@use "./components/navbar-sidebar";
@use "./components/pagination";
@use "./components/search";
@use "./components/table";
@use "./components/tabs";
// @use "./components/theme-toggle";
@use "./components/toc";

:root {
  // --ifm-heading-color: var(--c-carbon-100);
  // --ifm-font-color-base: var(--c-carbon-90);
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04Ljk5OTg4IDVMNC45OTk4OCAxTDAuOTk5ODc4IDUiIHN0cm9rZT0iIzAzMDYwQiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");

  //#region ----------- Z Indices ------------
  --z-sidebar: 2000;
  --z-backdrop: 1100;
  //#endregion
}

html[data-theme="light"] {
  --ifm-navbar-background-color: var(--token-primary-bg-c);
}

html[data-theme="dark"] {
  --token-primary-bg-c: #03060b;
  --token-secondary-bg-c: #13171c;

  //rgb value is c-blue-70
  --ifm-link-hover-color: rgba(77, 141, 255, 0.8);

  --ifm-background-surface-color: var(--token-primary-bg-c);

  --ifm-navbar-background-color: var(--token-primary-bg-c);
  --ifm-navbar-shadow: 0 1px 0 0 var(--c-gray-90);

  --ifm-heading-color: #fff;
  --ifm-background-color: var(--token-primary-bg-c);
  --ifm-dropdown-background-color: var(--token-secondary-bg-c);

  --ifm-menu-link-sublist-icon-filter: invert(100%);
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  color: var(--ifm-font-color-base);
  color-scheme: var(--ifm-color-scheme);
  scroll-padding-top: calc(var(--ifm-navbar-height) + 16px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

body {
  margin: 0;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* .theme-doc-version-banner {
  display: none;
}

.theme-doc-version-badge {
  display: none;
}

figure {
  margin: 0;
}

figure > * {
  display: block;
  margin: 0 auto;
}

figure.device {
  max-width: 400px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.git-link svg {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}
.git-link path {
  fill: currentColor;
}
 */
