:global {

  html[data-theme='light'] {
    --token-heading-color: var(--markdown-text-intro-c);
  }

  html[data-theme='dark'] {
    --token-heading-color: #4d8dffcc;
  }

  .hero {
    padding: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .hero__title {
    text-align: center;
  }

  .features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }

  .featureSvg {
    height: 200px;
    width: 200px;
  }

  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }
  }
}
